@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@layer base {
  @font-face {
    font-family: "RubikOne-Regular";
    src: url("../fonts/RubikOne-Regular.ttf") format("truetype"),
      url("../fonts/RubikOne-Regular.woff") format("woff"),
      url("../fonts/RubikOne-Regular.woff2") format("woff2");
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-manrope text-base leading-normal font-normal bg-custom-black text-custom-white;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-rubik font-normal;
  }

  h1 {
    @apply text-[36px] md:text-[80px] leading-none;
  }

  h2 {
    @apply text-2xl md:text-[40px] leading-tight;
  }

  a {
    @apply inline-block font-manrope text-base leading-normal font-normal text-custom-white;
  }

  img,
  svg {
    @apply w-full h-full object-cover;
  }

  li {
    @apply leading-[0.5];
  }

  label {
    @apply block;
  }
}

@layer components {
  .custom-container {
    @apply w-full max-w-[1440px] mx-auto;
  }

  .label-style {
    @apply block text-custom-purple-200 text-sm leading-4 font-bold mb-[7px] font-manrope;
  }

  .label-style--lg {
    @apply text-base leading-normal;
  }

  .input-style {
    @apply border bg-custom-black-mute border-custom-black-200 w-full h-[62px] py-3 px-6 outline-none rounded-xl md:rounded-[20px] font-manrope text-base leading-normal font-medium;
  }

  .desc--16 {
    @apply text-base leading-normal font-semibold;
  }

  .custom-btn {
    @apply text-lg leading-none font-rubik font-normal text-custom-white flex items-center justify-center gap-[10px] w-full h-[52px] bg-custom-purple rounded-[100px] border-2 border-custom-black uppercase transition-all duration-150 ease-in-out hover:bg-custom-purple-hover;
  }

  .input-style--select {
    @apply appearance-none py-2 relative;
  }

  .form-step {
    @apply w-2 h-2 rounded-full bg-custom-purple-200 transition-all duration-150;
  }

  .form-step--active {
    @apply w-5 bg-custom-purple;
  }
}

/* Custom Code */
.gradient-text {
  display: block;
  background: #cf47eb;
  background: linear-gradient(
    to right,
    #cf47eb 0%,
    #e14dff 30%,
    #4f8eef 75%,
    #6ee2f5 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.social-icon svg {
  width: 30px;
  height: auto;
  object-fit: contain;
}

.social-icon {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.social-icon:hover svg path {
  fill: #fff;
  stroke: #fff;
}

.social-icon:hover {
  background: #2f2636;
}

.hero-gradient-overlay {
  position: absolute;
  bottom: -200px;
  right: -486px;
  width: 1114px;
  height: 535px;
  z-index: 10;
  background: #c6bae7;
  background: radial-gradient(
    circle farthest-corner at center center,
    #c6bae7 0%,
    #fbabc3 30%,
    #cf8ae7 70%,
    #7e82f1 100%
  );
  opacity: 0.04;
  filter: blur(110px);
  -webkit-filter: blur(110px);
  pointer-events: none;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.custom-btn--shadow {
  box-shadow: 4px 4px 0 #fff;
}

.eye-cross {
  display: none;
  position: absolute;
  top: 49%;
  left: -3px;
  width: 130%;
  height: 2px;
  background: #fff;
  transform: translateY(-50%) rotate(45deg);
  -webkit-transform: translateY(-50%) rotate(45deg);
  -moz-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  -o-transform: translateY(-50%) rotate(45deg);
}

.toggle-password--show .eye-cross {
  display: block;
}

.input-style--select::after {
  content: "";
  position: absolute;
  top: 0;
  right: 20px;
  width: 6px;
  height: 12px;
  background: red;
}

/* Custom Code */

/* Responsive Code */
@media (min-width: 768.98px) {
  .social-icon svg {
    width: 40px;
  }
}
/* Responsive Code */
