@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@layer base {
  @font-face {
    font-family: "RubikOne-Regular";
    src: url("../fonts/RubikOne-Regular.ttf") format("truetype"),
      url("../fonts/RubikOne-Regular.woff") format("woff"),
      url("../fonts/RubikOne-Regular.woff2") format("woff2");
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-manrope text-base leading-normal font-normal bg-custom-black text-custom-white;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-rubik font-normal;
  }

  h1 {
    @apply text-[36px] md:text-[70px] leading-none;
  }

  h2 {
    @apply text-2xl md:text-[40px] leading-tight;
  }

  a {
    @apply inline-block font-manrope text-base leading-normal font-normal text-custom-white;
  }

  img,
  svg {
    @apply w-full h-full object-cover;
  }

  li {
    @apply leading-[0.5];
  }

  label {
    @apply block;
  }
}

@layer components {
  .custom-container {
    @apply w-full max-w-[1440px] mx-auto;
  }

  .wrapper {
    @apply max-w-[1200px] w-full mx-auto px-5 md:px-12 xl:px-0;
  }

  .label-style {
    @apply block text-custom-purple-200 text-sm leading-4 font-bold mb-[7px] font-manrope;
  }

  .label-style--lg {
    @apply text-base leading-normal;
  }

  .input-style {
    @apply border bg-custom-black-mute border-custom-black-200 w-full h-[62px] py-3 px-6 outline-none rounded-xl md:rounded-[20px] font-manrope text-base leading-normal font-medium;
  }

  .desc--16 {
    @apply text-base leading-normal font-semibold;
  }

  .custom-btn {
    @apply transition-all duration-300 ease-in-out text-lg leading-none font-rubik font-normal text-custom-white flex items-center justify-center gap-[10px] w-full h-[52px] bg-custom-purple rounded-[100px] border-2 border-custom-black uppercase py-[14px] px-8 relative -top-[7px] -left-[5px] group-hover:top-0 group-hover:left-0;
  }

  .custom-btn-outline {
    @apply text-lg font-rubik leading-snug text-custom-white-500 border-2 border-custom-black-mute py-[12px] px-[35px] h-[52px] flex items-center justify-center rounded-full transition-all duration-150 hover:bg-custom-purple hover:text-custom-white hover:border-transparent;
  }

  .custom-btn--fit {
    @apply w-fit py-[14px] px-8;
  }

  .custom-btn--white {
    @apply bg-custom-white text-custom-purple hover:bg-custom-white/90 hover:text-custom-purple;
  }

  .input-style--select {
    @apply appearance-none py-2 relative;
  }

  .form-step {
    @apply w-2 h-2 rounded-full bg-custom-purple-200 transition-all duration-150;
  }

  .form-step--active {
    @apply w-5 bg-custom-purple;
  }

  .custom__tab-btn {
    @apply w-full font-rubik text-[16px] md:text-[24px] xl:text-[32px] leading-normal text-custom-purple-200/70 uppercase border-b-[3px] border-custom-purple-200/20 pb-2 md:pb-4 transition-all duration-150 ease-in-out hover:text-custom-purple-500 hover:border-custom-purple-500;
  }

  .custom__tab-btn--active {
    @apply text-custom-purple-500 border-custom-purple-500;
  }

  .custom-btn--layer {
    @apply bg-custom-white w-full h-[52px] rounded-[100px] absolute top-0 left-0 -z-[1] border-2 border-custom-black;
  }

  .game__slider-btn {
    @apply w-10 h-10 rounded-full flex items-center justify-center border border-custom-white/40 bg-transparent transition-all duration-150 ease-in-out hover:border-custom-purple-500 hover:bg-custom-purple-500/10;
  }

  .game__slider-btn--active {
    @apply border-custom-purple-500 bg-custom-purple-500/10;
  }

  .game__slider-btn--lg {
    @apply w-[50px] h-[50px];
  }
}

/* Custom Code */
.gradient-text {
  width: fit-content;
  display: block;
  background: #cf47eb;
  background: linear-gradient(
    to right,
    #cf47eb 0%,
    #e14dff 30%,
    #4f8eef 75%,
    #6ee2f5 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text--small {
  background: #cf47eb;
  background: linear-gradient(
    to right,
    #cf47eb 0%,
    #e14dff 30%,
    #4f8eef 69%,
    #6ee2f5 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text-yellow {
  background: #fbd76a;
  background: linear-gradient(to bottom, #fbd76a 0%, #e0aa06 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.social-icon svg {
  width: 30px;
  height: auto;
  object-fit: contain;
}

.social-icon--sm svg {
  width: 21px !important;
}

.social-icon {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.social-icon:hover svg path {
  fill: #fff;
  stroke: #fff;
}

.social-icon:hover {
  background: #2f2636;
}

.social-icon--sm svg,
.social-icon--sm svg path {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.hero-gradient-overlay {
  position: absolute;
  bottom: -200px;
  right: -486px;
  width: 1114px;
  height: 535px;
  z-index: 10;
  background: #c6bae7;
  background: radial-gradient(
    circle farthest-corner at center center,
    #c6bae7 0%,
    #fbabc3 30%,
    #cf8ae7 70%,
    #7e82f1 100%
  );
  opacity: 0.04;
  filter: blur(110px);
  -webkit-filter: blur(110px);
  pointer-events: none;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.play__hero-box-gradient {
  pointer-events: none;
  position: absolute;
  top: -63px;
  left: -50px;
  width: 300px;
  height: 300px;
  background-image: linear-gradient(
    135deg,
    #c6bae7 0%,
    #fbabc3 30%,
    #cf8ae7 69%,
    #7e82f1 100%
  );
  z-index: 999999;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  opacity: 0.35;
  filter: blur(150px);
  -webkit-filter: blur(150px);
}

.play__hero-box-gradient--game {
  width: 419px;
  height: 419px;
  top: -100px;
  left: -200px;
  opacity: 0.08;
}

.play__hero-box-gradient--player {
  width: 458px;
  height: 458px;
  top: auto;
  bottom: -100px;
  left: -200px;
  opacity: 0.1;
  filter: blur(200px);
  -webkit-filter: blur(200px);
}

.play__hero-text-overlay-gradient {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1113px;
  height: 535px;
  background-image: linear-gradient(
    135deg,
    #c6bae7 0%,
    #fbabc3 30%,
    #cf8ae7 69%,
    #7e82f1 100%
  );
  z-index: 999999;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  opacity: 0.06;
  filter: blur(150px);
  -webkit-filter: blur(150px);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.custom-btn--shadow {
  box-shadow: 4px 4px 0 #fff;
}

.custom-btn--shadow-purple {
  box-shadow: 4px 4px 0 #de3dff;
}

.eye-cross {
  display: none;
  position: absolute;
  top: 49%;
  left: -3px;
  width: 130%;
  height: 2px;
  background: #fff;
  transform: translateY(-50%) rotate(45deg);
  -webkit-transform: translateY(-50%) rotate(45deg);
  -moz-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  -o-transform: translateY(-50%) rotate(45deg);
}

.toggle-password--show .eye-cross {
  display: block;
}

.input-style--select::after {
  content: "";
  position: absolute;
  top: 0;
  right: 20px;
  width: 6px;
  height: 12px;
  background: red;
}

.custom-card-bg--choose {
  background-color: #1f1924;
  box-shadow: inset -2.2px 1.1px 4.4px rgba(191, 134, 249, 0.2),
    inset 2.2px -1.1px 4.4px rgba(191, 134, 249, 0.2);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.glass-bg {
  background-color: rgba(26, 21, 30, 0.4);
  backdrop-filter: blur(10px);
}

.bg-gradient {
  background: linear-gradient(
    80deg,
    #cf47eb 0%,
    #e14dff 30%,
    #4f8eef 69%,
    #6ee2f5 100%
  );
}

.tag-gradient {
  background: linear-gradient(
    80deg,
    #cf47eb 0%,
    #e14dff 30%,
    #4f8eef 69%,
    #6ee2f5 100%
  );
}

.gradient-overlay-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(191, 134, 249, 0.1) 0%,
    rgba(26, 21, 30, 0.84) 100%
  );
}

.profile__banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(35, 23, 36, 0) 0%, #221824 100%);
}

.drop__shadow {
  box-shadow: 0 10px 30px rgba(20, 15, 46, 0.5);
}

.footer--bg {
  background: linear-gradient(
    to bottom,
    rgba(39, 32, 45, 0.6) 7%,
    rgba(39, 32, 45, 0) 100%
  );
  backdrop-filter: blur(25px);
}

.game__slider-btn svg {
  width: 8px;
  height: auto;
  object-fit: contain;
}

.game__slider-btn--lg svg {
  width: 10px;
}

.game__slider-btn svg path {
  fill: rgba(255, 255, 255, 0.4);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.game__slider-btn:hover svg path,
.game__slider-btn--active svg path {
  fill: #9855d0;
}

.glossy-shadow--purple {
  box-shadow: 0px 10px 20px rgba(222, 61, 255, 0.3);
}

.glossy-shadow--white {
  box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.3);
}

.coaching--hero-bg {
  width: 100%;
  height: auto;
  background-image: linear-gradient(
      to bottom,
      rgba(26, 21, 30, 0) 0%,
      rgba(26, 21, 30, 1) 100%
    ),
    url("../images/coaching-hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.coach__hero-shadow-text {
  color: #fff;
  -webkit-text-stroke: 2px #4c0792;
  text-stroke: 2px #4c0792;
  text-shadow: -5px 5px #de3dff;
}

.form-checkbox {
  border: 1px solid #675c70;
  background: transparent;
  outline: none;
  width: 18px;
  height: 18px;
}

.form-checkbox:focus {
  border-color: #675c70;
}

.custom-btn--test {
  position: relative;
}

.custom-btn--test::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: -1;
}

/* Custom Code */

/* Responsive Code */
@media (min-width: 768.98px) {
  .social-icon svg {
    width: 40px;
  }
}
/* Responsive Code */
